.skills {
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/112811/pexels-photo-112811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
    border: green solid;
}