.about {
    display: flex;
    height: 100vh;
    background-color: black;
    border: green solid
}


.about__info {
    color: white;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    border: white solid;
    text-align: center;
    height: 100%;
    width: 100%;
}

.about__picture {
    
    display: flex;
    flex-direction: column;
    flex: 0.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: pink solid;
    height: 100%;
    width: 100%;
    
}

.about__picture  > img {
    width: 250px;
    
}